*{
    margin: 0px;
    padding: 0px;
    font-family: 'Work Sans', sans-serif;
}
/* shared related style */
.primary-color{
    color:  #FF42A5
}
/* shared related style end */

/* header related style start */

/* nav related style start */
nav{
    display: flex;
    justify-content:space-around;
    align-items:center;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    max-width: 100%;
    padding: 20px;
    gap: 100px;
}
.head-title{
    color: #0B0223;
    font-size: 2.8rem;
    font-weight: 700;
}
.web-icon-text{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.menus{
    color: #3C354F;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 500;
}
.menu-container > ul{
    display:flex;
    align-items: center;
}
ul > li{
    list-style: none;
    margin-left:15px ;
}

.special-nav{
    display: flex;
    align-items:center ;
    list-style: none;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    width: 262px;
    height: 56px;
    margin-left: 25px;
    
}
.special-nav > li{
    margin-left: 22px;
}
/* nav related style end */

/* banner related style start */
.head-banner-bg-container{
    width: 50%;
}
.head-banner-img-container{
    width: 50%;
}

.banner-img-one{
    background-image: url(../images/Group\ 14.png) , linear-gradient(223deg, rgba(255, 255, 255, 0.03) 0%, #f679e500 100%);
    background-repeat:overlay;
    background-blend-mode:darken;
    max-width: 800px;
    height: 700px;
    position: relative;
}

.head-banner-text-container{
    position: absolute; left: 150px; bottom:300px;
}
.banner-title-one{
    color: #0B0223;
    text-align: center;
    font-size: 3rem;
    font-weight: 600;  
    text-transform: uppercase;
    padding-bottom:3px ;
}
.special-banner-title{
      text-align: center;
    font-size: 6rem;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-bottom: 20px;
}
.banner-p-one{
    color: #534C64;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 500;
    text-transform: lowercase;
    display: inline-block;
    text-align: center;
    
}
.banner-icon , .banner-p-one{
    display: flex;
    gap: 5px;
    padding-bottom: 8px;
}
.banner-button-one{
    padding: 21px 40px;
    border-radius: 48px;
    background: #FF42A5;
    border: none;
    color: #FFF;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 10px;
}
.banner-button-two{
    padding: 21px 40px;
    border-radius: 48px;
    background: #4EC5F7;
    border: none;
    color: #FFF;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 10px;
    margin-left: 10px;
    
}
.head-section-banner-container{
    display: flex;
    gap: 80px;
}
.banner-second-img{
    margin-top: 15px;
}



































/* media query for mobile */


@media screen and (max-width: 576px) {
    nav{
        flex-direction: column;
        width: 80%;
       margin: 50px auto;
        gap: 10px;
        box-shadow: none;
        text-align: center;
        padding: 10px;
        align-items: center;
        
    }
    .menu-container > ul{
        flex-direction: column;
        width: 80%;
        margin: 50px auto;
        text-align: center;
        align-items: center;
    }
    .menus > li{
        margin-bottom: 30px;
    }
    .special-nav{
        margin: 0px;
    }
    /*  */
    .head-section-banner-container{
        flex-direction: column-reverse;
    }
    .banner-img-one , .banner-second-img{
        width: 420px;
        height: 400px;
        
    }
    .head-banner-text-container{
        position: absolute; left: 50px; bottom:-660px;
    }
    .banner-title-one{
        font-size: 2rem;
    }
    .special-banner-title{
        font-size: 4rem;
    }
    .banner-p-one{
        font-size: 1rem;
    }
    .banner-button-one, .banner-button-two{
        padding: 14px 20px;
        font-size: 0.9rem;
    }
    
   
}







/* media query for tablet */

@media screen and (min-width: 576px) and (max-width:768px) {
    nav{
        flex-direction: row;
        max-width: 100%;
        gap: 10px;
        text-align: center;
        padding: 10px;
        justify-content: center;
        
        
    }
    .menu-container > ul{
        flex-direction: row;
        text-align: center;
        
    }
    .special-nav{
        margin-left: 8px;
    }
   
    .banner-img-one , .banner-second-img{
        width: 100%;
        height: 350px;
        
        
    }
    .head-banner-text-container{
        position: absolute; left: 40px; bottom:260px;
    }
    .banner-title-one{
        font-size: 2rem;
    }
    .special-banner-title{
        font-size: 4rem;
    }
    .banner-p-one{
        font-size: 1rem;
    }
    .banner-button-one, .banner-button-two{
        padding: 14px 20px;
        font-size: 0.9rem;
    }
   
}