*{
    margin: 0px;
    padding: 0px;
    font-family: 'Work Sans', sans-serif;
}
/* shared related style */
.primary-color{
    color:  #FF42A5
}
/* shared related style end */

/* header related style start */

/* nav related style start */
nav{
    display: flex;
    justify-content:space-around;
    align-items:center;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    max-width: 100%;
    padding: 20px;
    gap: 100px;
}
.head-title{
    color: #0B0223;
    font-size: 2.8rem;
    font-weight: 700;
}
.web-icon-text{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.menus{
    color: #3C354F;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 500;
}
.menu-container > ul{
    display:flex;
    align-items: center;
}
ul > li{
    list-style: none;
    margin-left:15px ;
}

.special-nav{
    display: flex;
    align-items:center ;
    list-style: none;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    width: 262px;
    height: 56px;
    margin-left: 25px;
    
}
.special-nav > li{
    margin-left: 22px;
}
/* nav related style end */

/* banner related style start */
.head-banner-bg-container{
    width: 50%;
}
.head-banner-img-container{
    width: 50%;
}

.banner-img-one{
    background-image: url(../images/Group\ 14.png) , linear-gradient(223deg, rgba(255, 255, 255, 0.03) 0%, #f679e500 100%);
    background-repeat:overlay;
    background-blend-mode:darken;
    max-width: 800px;
    height: 700px;
    
}

.head-banner-text-container{
   
        display: inline-block;
        justify-content: center;
        align-items: center;
       position: relative;
       bottom: 600px; left: 200px;
       
     }

.banner-title-one{
    color: #0B0223;
    text-align: center;
    font-size: 3rem;
    font-weight: 600;  
    text-transform: uppercase;
    padding-bottom:10px ;
}
.special-banner-title{
      text-align: center;
    font-size: 6rem;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-bottom: 20px;
}
.banner-p-one{
    color: #534C64;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 500;
    text-transform: lowercase;
    display: inline-block;
    text-align: center;
    
}
.banner-icon , .banner-p-one{
    display: flex;
    gap: 5px;
    padding-bottom: 8px;
}
.banner-button-one{
    padding: 21px 40px;
    border-radius: 48px;
    background: #FF42A5;
    border: none;
    color: #FFF;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 10px;
}
.banner-button-two{
    padding: 21px 40px;
    border-radius: 48px;
    background: #4EC5F7;
    border: none;
    color: #FFF;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 10px;
    margin-left: 10px;
    
}
.head-section-banner-container{
    display: flex;
    gap: 80px;
}
.banner-second-img{
    margin-top: 15px;
}
/* banner related style end */

/* main related style start */

/* online games card related style start */

.online-game-box-container{
    display: grid;
    grid-template-columns: repeat(4 ,1fr);
    justify-content: center;
    align-items: center;
    text-align: left;
   

}
.online-games-section-container{
    width: 80%;
    margin: 40px auto;
}
.online-game-text-container{
    text-align: center;
}
.game-section-title{
    color: #0B0223;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 16px;
    margin-top: -200px;
}
.game-section-description{
    color: #534C64;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 30px;
}
.special-title{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3rem;
    font-weight: 700;

}
/* online games card related style end */

/* instantly play games related style start */
.play-games-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
   
}
.play-games-text-container h1{
    color: #0B0223;
    font-size: 3rem;
    font-weight: 700;
    text-align: right;
}
.color-title{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3rem;
    font-weight: 700;
    
}
.play-games-text-container p{
    color: #534C64;
    text-align: right;
    font-size: 1.2rem;
    font-weight: 400;
}
.main-img{
    position: relative;bottom: -85px; left: 190px;
    
    
}
.instant-play{
    margin-bottom: 200px;
    margin-top: 50px;
}

/* instantly play games related style end */

/* games list related style start */
.game-list-container{
    flex-wrap: wrap;
    min-height: 427px; 
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 40px;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    
}
.gamer{
    
    border-radius: 50px;
    background: rgb(255, 255, 255);
    padding: 5px;
    flex-basis: 250px;

}
.gamer-content p{
    color: #0B0223;

    font-size: 1rem;

    font-weight: 600;
    
}
.gamer-content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-top: 5px;
}


/* games list related style start */

/* main section related style end */

/* footer related style start */
footer{
    margin-top: 60px;
    height: 500px;
    background: #0B0223;
    
}
.footer-title{
 color: #FFF;
}
.footer-title-container{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    margin-top: 60px;

}
.footer-title,.footer-icon{
    margin-top: 80px;
}
.footer-menus-container ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 40px;
    
}

.footer-menu li{
    color: #FFF;
    font-size: 1.1rem;
    font-weight: 600;

}
.footer-social-icons-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 55px;
}
.footer-terms-container{
    margin-top: 50px;
}
.footer-terms-container ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.term-menu li{
    color: rgba(255, 255, 255, 0.60);
text-align: center;
font-size: 0.9rem;
font-weight: 500;
}
.copy-right{
        color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 0.8rem;
    font-style: normal;
    font-weight: 500;
    margin-top: 30px;
    
}














/* Hover Effect related style start */
.card {
    position: relative;
    overflow: hidden;
  }
.hover-content{
    position: absolute;
    top: 0;
    left: 0;
    width: 342px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 8px;

}
.card:hover .hover-content{
    opacity: 1;
}
.hover-content i{
    font-size: 50px;
    margin-bottom: 10px;
    color: #FFF;

}
.hover-content p{
    font-size: 14px;
    font-weight: bold;
  }


/* game list hover start */
.gamer:hover{
    border: 2px solid #FF42A5;
    cursor: pointer;
    
}
.gamer-content p:hover{
    color: #FF42A5;
}
/* game list hover end */
/* hover related style end */



























/* media query for mobile */


@media screen and (max-width: 576px) {
    nav{
        flex-direction: column;
        width: 80%;
       margin: 50px auto;
        gap: 10px;
        box-shadow: none;
        text-align: center;
        padding: 10px;
        align-items: center;
        
    }
    .menu-container > ul{
        flex-direction: column;
        width: 80%;
        margin: 50px auto;
        text-align: center;
        align-items: center;
    }
    .menus > li{
        margin-bottom: 30px;
    }
    .special-nav{
        margin: 0px;
    }
    /*  */
    .head-section-banner-container{
        flex-direction: column-reverse;
    }
    .banner-img-one , .banner-second-img{
        max-width: 420px;
        height: 500px;
    }
    .head-banner-text-container{
        position: relative;
        bottom: 400px;
        left: 70px;
    }
    .banner-title-one{
        font-size: 2rem;
    }
    .special-banner-title{
        font-size: 4rem;
    }
    .banner-p-one{
        font-size: 1rem;
    }
    .banner-button-one, .banner-button-two{
        padding: 14px 20px;
        font-size: 0.9rem;
    }
    .online-game-box-container{
        grid-template-columns: 1fr;
    }
   .box-text{
    text-align: center;
    margin-top: 12px;
    margin-bottom: 15px;
   }
   .play-games-container{
    flex-direction: column;
   }
   .bottom-img{
    width: 100%;
    height: auto;
   }
   .main-img{
    width: 40%;
    height: auto;
    position: relative;bottom: -370px; left: -30px;
   }
   .play-games-container{
    max-width: 80%;
    margin: 30px auto;
   }
   .play-games-text-container h1{
    text-align: center;
   }
   .play-games-text-container p{
    text-align: center;
   }

   .game-list-container{
   
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    gap: 5px;
    padding: 10px;
    align-content: center
    
   }
   .gamer-content{
    gap: 5px;
    padding: 5px;
   }
   .gamer-content p{
    font-size: 14px;
    font-weight: 500;
   }
   .game-icon{
    width: 30px;
    height: 30px;
   }

   footer{
    margin-top: 40px;
    height: auto;
   
    
    
}

.footer-title-container{
    display: flex;
    gap: 10px;
    margin-top: 60px;

}
.footer-title,.footer-icon{
    margin-top: 50px;
}
.footer-menus-container ul{
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
    gap: 35px;
    width: 50%;
    margin: 30px auto;
}

.footer-menu li{
    color: #FFF;
    font-size: 1rem;
    font-weight: 600;

}
.footer-social-icons-container{
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
    gap: 30px;
    width: 50%;
    margin: 50px auto;
}
.footer-terms-container{
    margin-top: 30px;
}
.footer-terms-container ul{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
}

.copy-right{
    display: flex;
    width: 50%;
    margin: 20px auto 0;
    padding-bottom: 5px;   
}

    

  
    
}









/* media query for tablet */

@media screen and (min-width: 576px) and (max-width:768px) {
    nav{
        flex-direction: row;
        max-width: 100%;
        gap: 10px;
        text-align: center;
        padding: 10px;
        justify-content: center;
        
        
    }
    .menu-container > ul{
        flex-direction: row;
        text-align: center;
        
    }
    .special-nav{
        margin-left: 8px;
    }
   
    .banner-img-one , .banner-second-img{
        width: 100%;
        height: 350px;
        
        
    }
    .head-banner-text-container{
       position: relative;
       bottom: 350px;
       left: 25px;
    }
    .banner-title-one{
        font-size: 2rem;
    }
    .special-banner-title{
        font-size: 4rem;
    }
    .banner-p-one{
        font-size: 1rem;
    }
    .banner-button-one, .banner-button-two{
        padding: 14px 20px;
        font-size: 0.9rem;
    }
    .online-game-box-container{
        grid-template-columns: repeat(2 , 1fr);
        gap: 10px;
    }
   .box-text{
    text-align: center;
    margin-top: 12px;
    margin-bottom: 15px;
    
   }
   .play-games-container{
    flex-direction: column;
   }
   .bottom-img{
    width: 100%;
    height: auto;
   }
   .main-img{
    width: 40%;
    height: auto;
    position: relative;bottom: -670px; left: -70px;
   }
   .play-games-container{
    max-width: 80%;
    margin: 30px auto;
   }
   .play-games-text-container h1{
    text-align: center;
   }
   .play-games-text-container p{
    text-align: center;
   }
   .game-list-container{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    gap: 8px;
    padding: 10px;
    align-items: center;
   }
   .gamer-content{
    gap: 5px;
    padding: 5px;
   }
   .gamer-content p{
    font-size: 14px;
    font-weight: 500;
   }
   .game-icon{
    width: 40px;
    height: 40px;
   }
   
   footer{
    margin-top: 40px;
    height: auto;
   
    
    
}

.footer-title-container{
    display: flex;
    gap: 10px;
  
    margin-top: 60px;

}
.footer-title,.footer-icon{
    margin-top: 50px;
}
.footer-menus-container ul{
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
   
    gap: 35px;
    width: 50%;
    margin: 30px auto;
}

.footer-menu li{
    
    font-size: 1rem;
    

}
.footer-social-icons-container{
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
   
    gap: 30px;
   width: 40%;
   margin: 20px auto;
}
.footer-terms-container{
    margin-top: 30px;
}
.footer-terms-container ul{
    
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
    gap: 5px;
}

.copy-right{
    
    display: flex;
    justify-content: center;   
    align-items: center;
    
}
}